  <div class="card card-full">
      <a routerLink="/productdetails" class="card-image">
          <img src="{{image}}" class="card-img-top" alt="art image">
      </a>
      <div class="card-body p-4">
          <h5 class="card-title text-truncate mb-0">
            <a routerLink="/productdetails/{{id}}">{{title}}</a>
          </h5>
          <div class="card-author mb-1 d-flex align-items-center">
              <span class="me-1 card-author-by">By</span>
              <div class="custom-tooltip-wrap">
                  <a routerLink="/profile/{{userId}}" class="custom-tooltip author-link">{{username}}</a>

              </div><!-- end custom-tooltip-wrap -->
          </div><!-- end card-author -->
          <div class="card-price-wrap d-flex align-items-center justify-content-sm-between mb-3">
              <div class="me-5 me-sm-2">
                  <span class="card-price-title">Price</span>
                  <span class="card-price-number">${{priceusd}}</span>
              </div>
              <div class="text-sm-end">
                  <span class="card-price-title">Eth</span>
                  <span class="card-price-number">{{priceeth}} ETH</span>
              </div>
          </div><!-- end card-price-wrap -->
          <a routerLink="/productdetails/{{id}}" class="btn btn-sm btn-primary">Place Bid</a>
      </div><!-- end card-body -->
  </div><!-- end card -->

