  <div class="card card-full">
      <a href="product-details-v1.html" class="card-image">
          <img src="assets/images/thumb/nft-2.jpg" class="card-img-top" alt="art image">
      </a>
      <div class="card-body p-4">
          <h5 class="card-title text-truncate mb-0"><a href="product-details-v1.html">One Tribe Black Edition</a></h5>
          <div class="card-author mb-1 d-flex align-items-center">
              <span class="me-1 card-author-by">By</span>
              <div class="custom-tooltip-wrap">
                  <a href="author.html" class="custom-tooltip author-link">ZeniconStudio</a>
                  
              </div><!-- end custom-tooltip-wrap -->
          </div><!-- end card-author -->
          <div class="card-price-wrap d-flex align-items-center justify-content-sm-between mb-3">
              <div class="me-5 me-sm-2">
                  <span class="card-price-title">Price</span>
                  <span class="card-price-number">$14.20</span>
              </div>
              <div class="text-sm-end">
                  <span class="card-price-title">Current bid</span>
                  <span class="card-price-number">1.32 ETH</span>
              </div>
          </div><!-- end card-price-wrap -->
          <a href="product-details-v1.html" class="btn btn-sm btn-primary">Place Bid</a>
      </div><!-- end card-body -->
  </div><!-- end card -->
