<app-navbar></app-navbar>

    <section class="item-detail-section section-space" style="margin-top: 80px;">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 pe-xl-5">
                  <div class="item-detail-content">

                      <div class="item-detail-img-container mb-4">
                          <img src="{{product.images}}" alt="" class="w-100 rounded-3"> <!--product.image-->
                      </div><!-- end item-detail-img-container -->

                  </div><!-- end item-detail-content -->
              </div><!-- end col -->
              <div class="col-lg-6">
                  <div class="item-detail-content mt-4 mt-lg-0">
                      <h1 class="item-detail-title mb-2">{{product.title}}</h1><!---->
                      <div class="item-detail-meta d-flex flex-wrap align-items-center mb-3">

                        <span class="item-detail-text-meta">By
                          <a routerLink="/profile/{{product.userId}}" class="item-detail-text-meta fw-semibold">
                            {{username}}
                          </a>
                        </span>
                          <span class="dot-separeted"></span>
                          <span class="item-detail-text-meta">${{product.priceusd}}</span><!---->
                          <span class="dot-separeted"></span>
                          <span class="item-detail-text-meta"><span class="text-primary fw-semibold">{{priceeth}} ETH</span></span>
                          <span class="dot-separeted"></span>
                          <span class="item-detail-text-meta text-warning fw-semibold">
                            {{product.category}}
                          </span>
                          <span class="dot-separeted"></span>
                          <span class="item-detail-text-meta text-success fw-semibold">Approved</span>

                        </div>
        <br>
                      <div class="item-detail-meta d-flex flex-wrap align-items-center mb-3">
                          <span class="item-detail-text-meta">Legal Title</span>
                          <span class="dot-separeted"></span>
                          <span class="item-detail-text-meta text-black fw-bold">{{product.govTitle}}</span>
                      </div>
<br>
                      <!-----------Description---------->
                      <p class="item-detail-text mb-4">
                        {{product.desc}} <!---->
                      </p>

                      <div class="item-detail-btns mt-4">
                          <ul class="btns-group d-flex">
                              <li class="flex-grow-1">
                                  <a
  (click)="buyProperty(product.userId,product.propertyId,product.priceusd,product.govTitle,product.publicKey)"
                                    class="btn btn-primary d-block"
                                  >Purchase</a>
                              </li>
                          </ul>
                      </div><!-- end item-detail-btns -->


                  </div><!-- end item-detail-content -->
              </div><!-- end col -->
          </div><!-- end row -->
      </div><!-- .container -->
  </section><!-- end item-detail-section -->
