
  <app-navbar></app-navbar>

    <div class="hero-wrap sub-header " style="margin-top: 20px;">
      <div class="container">
          <div class="hero-content text-center py-0">
              <h1 class="hero-title">Explore</h1>
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb breadcrumb-s1 justify-content-center mt-3 mb-0">
                      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Explore</li>
                  </ol>
              </nav>
          </div><!-- hero-content -->
      </div><!-- .container-->
  </div><!-- end hero-wrap -->


  <section class="explore-section pt-lg-4">

    <div class="container">


          <div class="gap-2x"></div><!-- end gap -->

          <div class="filter-container row g-gs">
              <div class="col-xl-3 col-lg-4 col-sm-6 filter-item artworks" *ngFor="let pr of products" >

                <app-products-card
                  [image]="pr.images"
                  [userId]="pr.userId"
                  [id]="pr.propertyId"
                  [priceusd]="pr.priceusd"
                  [priceeth]="priceeth*pr.priceusd"
                  [username]="user.username"
                  [title]="pr.title"
                ></app-products-card>

              </div><!-- end col -->

          </div><!-- end filter-container -->

      </div><!-- .container -->

  </section><!-- end explore-section -->


