<app-navbar></app-navbar>

<header class="header-section has-header-main">
  <div class="hero-wrap sub-header" style="background-image: url('https://picsum.photos/1200/200'); height: 100%; ">
    <div class="overlay"></div>
    <div class="container">
        <div class="hero-content py-0 d-flex align-items-center">
            <div class="avatar avatar-3 flex-shrink-0">
                <img src="https://i.pravatar.cc/300" alt="{{user.image}}"> <!--src\assets\images\profilecover/imgNumber-->
            </div><!-- end avatar -->
            
            <div class="author-hero-content-wrap d-flex flex-wrap justify-content-between ms-3 flex-grow-1">
                <div class="author-hero-content me-3">
                    <h4 class="hero-author-title mb-1 text-white">{{user.username}}</h4><!--{{profile.profileUsername}}-->
                    <p class="hero-author-username mb-1 text-white">{{publicKey}}</p><!--{{profile.profileEmail}}-->
                </div><!-- end author-hero-content -->
            </div><!-- end author-hero-content-wrap -->
        
          </div><!-- hero-content -->
    </div><!-- .container-->
  </div><!-- end hero-wrap -->
</header>


<section class="profile-section section-space" >

  <div class="container" >

    <div class="row">
            <div class="col-lg-9 ps-xl-5">
                <div class="user-panel-title-box">
                    <h3>My Dashboard</h3>
                </div><!-- end user-panel-title-box -->



                <div class="profile-setting-panel-wrap" >


                    <ul class="nav nav-tabs nav-tabs-s1 nav-tabs-mobile-size" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="offers-receive-tab" data-bs-toggle="tab" data-bs-target="#offers-receive" type="button" role="tab" aria-controls="offers-receive" aria-selected="true"> Listing Sold </button>
                        </li>


                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="offers-made-tab" data-bs-toggle="tab" data-bs-target="#offers-made" type="button" role="tab" aria-controls="offers-made" aria-selected="false"> Live Listings </button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="transactions-tab" data-bs-toggle="tab" data-bs-target="#transactions" type="button" role="tab" aria-controls="transactions-aria" aria-selected="false"> Transactions </button>
                        </li>


                    </ul>


                    <div class="tab-content mt-4" id="myTabContent">

                      <div class="tab-pane fade show active" id="offers-receive" role="tabpanel" aria-labelledby="offers-receive-tab">
                            <div class="profile-setting-panel">
                                <!--SoldProducts-->
                                <!------------------------------------->
                                <div class="row g-gs">
                                  <div class="col-xl-6" *ngFor="let pr of SoldProducts">

                                    <app-product
                                        [image]="pr.images"
                                        [id]="pr.propertyId"
                                        [title]="pr.title"
                                        [govTitle]="pr.govTitle"
                                        [physcial_address]="pr.physcial_address"
                                        [priceusd]="pr.priceusd"
                                        [category]="pr.category"
                                    >
                                    </app-product>

                                  </div>
                                </div>

                                <!------------------------------------->

                            </div><!-- end profile-setting-panel -->
                      </div>






                        <div class="tab-pane fade" id="offers-made" role="tabpanel" aria-labelledby="offers-made-tab">
                            <div class="profile-setting-panel">
                            <!-- LiveProducts-->
                                <div class="row g-gs">

                                  <div class="col-xl-6" *ngFor="let pr of LiveProducts">

                                    <app-product
                                      [image]="pr.images"
                                      [id]="pr.propertyId"
                                      [title]="pr.title"
                                      [govTitle]="pr.govTitle"
                                      [physcial_address]="pr.physcial_address"
                                      [priceusd]="pr.priceusd"
                                      [category]="pr.category"
                                    >
                                    </app-product>

                                  </div>




                                </div><!-- end row -->
                            </div><!-- end profile-setting-panel -->
                        </div>





                        <!----------------------------------------tab 3------------------------------------>
                        <div class="tab-pane fade" id="transactions" role="tabpanel" aria-labelledby="transactions-aria">
                          <div class="profile-setting-panel">

                              <div class="row g-gs">

                                <app-transaction
                                  [transactions]="transactions"
                                  [userId]="userId"
                                 >
                                </app-transaction>

                              </div><!-- end row -->
                          </div><!-- end profile-setting-panel -->
                      </div><!-- end tab-pane -->





                    </div><!-- end tab-content -->


                </div><!-- end profile-setting-panel-wrap-->


            </div><!-- end col -->
    </div><!-- end row -->

  </div>
</section><!-- end profile-section -->
