<section class="section-space trending-section bg-gray">
    <div class="container">

      <div class="section-head text-center">
          <h2 class="mb-3">Trending Listings</h2>
          <p>Checkout the latest listing from all categories, browse and instantly buy any listing of your choice</p>
      </div><!-- end section-head -->


      <div class="row g-gs" >

        <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let pr of newAnnonces">

          <app-products-card
              [image]="pr.images"
              [userId]="pr.userId"
              [id]="pr.propertyId"
              [priceusd]="pr.priceusd"
              [priceeth]="priceeth"
              [title]="pr.title"
          ></app-products-card>
        </div>


      </div><!-- end row -->



      <div class="text-center mt-4 mt-md-5">
          <a routerLink="/explore" class="btn-link btn-link-s1">View all auctions</a>
      </div>

    </div><!-- end container -->
  </section><!-- end trending-section -->
