<section class="category-section section-space bg-gray">
  <div class="container">
      <div class="section-head text-center">
          <h2 class="mb-3">Browse by category</h2>
      </div><!-- end section-head -->
      <div class="row g-gs">
          <div class="col-lg-3 col-6 col-md-4">
              <a routerLink="/explore" class="card card-cat h-100 text-center text-purple ">
                  <div class="card-body card-body-s1">
                      <span class="icon ni ni-camera mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                      <h5 class="card-cat-title">Commercial</h5>
                  </div>
              </a>
          </div><!-- end col -->
          <div class="col-lg-3 col-6 col-md-4">
              <a routerLink="/explore" class="card card-cat h-100 text-center text-blue">
                  <div class="card-body card-body-s1">
                      <span class="icon ni ni-music mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                      <h5 class="card-cat-title">House</h5>
                  </div>
              </a>
          </div><!-- end col -->
          <div class="col-lg-3 col-6 col-md-4">
              <a routerLink="/explore" class="card card-cat h-100 text-center text-pink">
                  <div class="card-body card-body-s1">
                      <span class="icon ni ni-search mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                      <h5 class="card-cat-title">Appartment</h5>
                  </div>
              </a>
          </div><!-- end col -->
          <div class="col-lg-3 col-6 col-md-4">
              <a routerLink="/explore" class="card card-cat h-100 text-center text-orange">
                  <div class="card-body card-body-s1">
                      <span class="icon ni ni-globe mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                      <h5 class="card-cat-title">Land</h5>
                  </div>
              </a>
          </div><!-- end col -->


      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end category-section -->
