<section class="category-section section-space bg-gray">
  <div class="container">
      <div class="section-head text-center">
          <h2 class="mb-3">Browse by category</h2>
          <p>This is just a simple text made for this unique and awesome template, you can replace it with any text. It is a long established fact.</p>
      </div><!-- end section-head -->
      <div class="row g-gs">
          <div class="col-lg-3 col-6 col-md-4">
              <a href="#" class="card card-cat h-100 text-center text-purple ">
                  <div class="card-body card-body-s1">
                      <span class="icon ni ni-camera mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                      <h5 class="card-cat-title">Artwork</h5>
                  </div>
              </a>
          </div><!-- end col -->
          <div class="col-lg-3 col-6 col-md-4">
              <a href="#" class="card card-cat h-100 text-center text-blue">
                  <div class="card-body card-body-s1">
                      <span class="icon ni ni-music mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                      <h5 class="card-cat-title">Music</h5>
                  </div>
              </a>
          </div><!-- end col -->
          <div class="col-lg-3 col-6 col-md-4">
              <a href="#" class="card card-cat h-100 text-center text-pink">
                  <div class="card-body card-body-s1">
                      <span class="icon ni ni-search mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                      <h5 class="card-cat-title">Domain Names</h5>
                  </div>
              </a>
          </div><!-- end col -->
          <div class="col-lg-3 col-6 col-md-4">
              <a href="#" class="card card-cat h-100 text-center text-orange">
                  <div class="card-body card-body-s1">
                      <span class="icon ni ni-globe mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                      <h5 class="card-cat-title">Virtual Worlds</h5>
                  </div>
              </a>
          </div><!-- end col -->
          <div class="col-lg-3 col-6 col-md-4">
              <a href="#" class="card card-cat h-100 text-center text-yellow">
                  <div class="card-body card-body-s1">
                      <span class="icon ni ni-user mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                      <h5 class="card-cat-title">Trending Cards</h5>
                  </div>
              </a>
          </div><!-- end col -->
          <div class="col-lg-3 col-6 col-md-4">
              <a href="#" class="card card-cat h-100 text-center text-green">
                  <div class="card-body card-body-s1">
                      <span class="icon ni ni-opt-alt-fill mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                      <h5 class="card-cat-title">Collectibles</h5>
                  </div>
              </a>
          </div><!-- end col -->
          <div class="col-lg-3 col-6 col-md-4">
              <a href="#" class="card card-cat h-100 text-center text-teal">
                  <div class="card-body card-body-s1">
                      <span class="icon ni ni-hot-fill mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                      <h5 class="card-cat-title">Sports</h5>
                  </div>
              </a>
          </div><!-- end col -->
          <div class="col-lg-3 col-6 col-md-4">
              <a href="#" class="card card-cat h-100 text-center text-cyan">
                  <div class="card-body card-body-s1">
                      <span class="icon ni ni-setting mb-3 mx-auto icon-circle icon-wbg icon-lg"></span>
                      <h5 class="card-cat-title">Utility</h5>
                  </div>
              </a>
          </div><!-- end col -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end category-section -->
