
    <section class="section-space how-it-work-section">
      <div class="container">
          <div class="section-head text-center">
              <h2 class="mb-3">Create and sell your NFTs</h2>
              <p>This is just a simple text made for this unique and awesome template, you can replace it with any text. It is a long established fact.</p>
          </div><!-- end section-head -->
          <div class="row g-gs justify-content-center">
              <div class="col-10 col-sm-6 col-md-6 col-lg-3">
                  <div class="card-htw text-center">
                      <span class="icon ni ni-wallet icon-lg icon-circle shadow-sm icon-wbg mx-auto mb-4 text-primary"></span>
                      <h4 class="mb-3">Set up your wallet</h4>
                      <p class="card-text-s1">Once you’ve set up your wallet of choice, connect it to EnftyMart by clicking the.</p>
                  </div>
              </div><!-- end col -->
              <div class="col-10 col-sm-6 col-md-6 col-lg-3">
                  <div class="card-htw text-center">
                      <span class="icon ni ni-setting icon-lg icon-circle shadow-sm icon-wbg mx-auto mb-4 text-danger"></span>
                      <h4 class="mb-3">Create collection</h4>
                      <p class="card-text-s1">Click <a href="profile.html" class="btn-link">My Collections</a> and set up your collection. Add social links, a description.</p>
                  </div>
              </div><!-- end col -->
              <div class="col-10 col-sm-6 col-md-6 col-lg-3">
                  <div class="card-htw text-center">
                      <span class="icon ni ni-camera icon-lg icon-circle shadow-sm icon-wbg mx-auto mb-4 text-info"></span>
                      <h4 class="mb-3">Add your NFTs</h4>
                      <p class="card-text-s1">Upload your work (image, video, audio, or 3D art), add a title and description.</p>
                  </div>
              </div><!-- end col -->
              <div class="col-10 col-sm-6 col-md-6 col-lg-3">
                  <div class="card-htw text-center">
                      <span class="icon ni ni-money icon-lg icon-circle shadow-sm icon-wbg mx-auto mb-4 text-success"></span>
                      <h4 class="mb-3">List them for sale</h4>
                      <p class="card-text-s1">Choose between auctions, fixed-price listings, and declining-price listings.</p>
                  </div>
              </div><!-- end col -->
          </div><!-- end row -->
      </div><!-- end container -->
  </section><!-- end how-it-work-section -->
