<header class="header-section has-header-main">
  <app-navbar></app-navbar>
</header>
        <section class="login-section section-space-b pt-4 pt-md-5 mt-md-3">
          <div class="container">
              <div class="row align-items-center justify-content-center">
                  <div class="col-lg-6 mb-5 mb-lg-0 d-none d-lg-block">
                      <img src="assets/images/thumb/remote.png" alt="" class="img-fluid">
                  </div><!-- end col-lg-6 -->
                  <div class="col-lg-6 col-md-9">
                      <div class="section-head-sm">
                          <h2 class="mb-2">Welcome Back!</h2>
                          <p>Login to countinue</p>
                      </div>


                      <form
                        name="form"
                        (ngSubmit)="f.form.valid && onSubmit()"
                        #f="ngForm"
                        novalidate
                      >

                          <div class="form-floating mb-4">

                              <input
                                class="form-control"
                                id="emailAddress"
                                type="text"
                                name="username"
                                [(ngModel)]="form.username"
                                required
                                #username="ngModel"
                              >
                              <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="username.errors && f.submitted"
                              >
                                Username is required!
                              </div>
                              <label for="emailAddress">Username</label>

                          </div><!-- end form-floating -->



                          <div class="form-floating mb-4">
                              <input class="form-control password"
                                id="password"
                                placeholder="Password"
                                type="password"
                                name="password"
                                [(ngModel)]="form.password"
                                required
                                minlength="6"
                                #password="ngModel"
                              >
                              <!--show error-->
                              <div
                                class="alert alert-danger"
                                role="alert"
                                *ngIf="password.errors && f.submitted"
                              >
                                <div *ngIf="password.errors['required']">Password is required</div>
                                <div *ngIf="password.errors['minlength']">
                                  Password must be at least 6 characters
                                </div>
                              </div>
                              <!--End Show Error-->
                              <label for="password">Password</label>




                            </div><!-- end form-floating -->



                          <button class="btn btn-primary w-100" type="submit">Login Now</button>

                  
                      </form>
                  </div><!-- end col-lg-6 -->
              </div><!-- end row -->
          </div><!-- end container -->
      </section><!-- end login-section -->
