<header class="header-section has-header-main">
  <app-navbar></app-navbar>
</header>

<div *ngIf=retrievedImage>
      <img [src]="retrievedImage">
</div>

<section class="create-section section-space-b pt-70">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 mx-auto">
              <div class="section-head-sm">
                  <a routerLink="" class="btn-link fw-semibold"><em class="ni ni-arrow-left"></em> Manage collectible type </a>
                  <h1 class="mt-2">Create Your Listing</h1>
              </div><!-- end section-head -->

              <form
                name="product"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate
                class="form-create mb-5 mb-lg-0"
              >


                <div class="form-item mb-4">
                      <h5 class="mb-3">Upload Images</h5>
                      <div class="file-upload-wrap">
                          <p class="file-name mb-4" id="file-name">PNG, JPG, JPEG . Max 100mb.</p>
                          <input id="file-upload"  type="file"
                            accept="image/png, image/jpeg, image/jpg"
                            name="images"
                            required
                            #images="ngModel"
                            [(ngModel)]="product.images"
                            (change)="UploadImage($event)"
                          >
                      </div>
                      <span class="item-detail-text-meta text-danger mt-0" *ngIf="images.errors && f.submitted">
                        Please upload at least one image
                      </span>
                  </div><!-- end form-item -->



                  <div class="form-item mb-2">
                    <h5 class="mb-3">Upload Legal Documents</h5>
                    <span class="item-detail-text-meta mt-0" >Make sure to add all legal documents to get your listing approved</span>
                    <div class="file-upload-wrap">
                        <p class="file-name mb-4" id="file-name">PDF. Max 100mb.</p>
                        <input id="file-upload"  type="file"
                            accept="application/pdf"
                            name="legaldocs"
                            [(ngModel)]="product.legaldocs"
                            required
                            #legaldocs="ngModel"
                            (change)="UploadPDF($event)"
                          >
                    </div>
                    <span class="item-detail-text-meta text-danger mt-0" *ngIf="legaldocs.errors && f.submitted">
                      Please upload at least one Document
                    </span>
                </div><!-- end form-item -->



                  <div class="form-item mb-4">

                        <div class="tab-pane fade show active" id="onetoone" role="tabpanel" aria-labelledby="onetoone-tab">
                          <div class="form-create-tab-wrap">
                                <label class="mb-2 form-label">Metamask Public Address:</label><br>
                                <input type="text" class="form-control form-control-s1" 
                                  placeholder={{UserPublicAddress}}
                                  name="publicKey"
                                  disabled
                                >
                            </div><!-- end form-create-tab-wrap -->
                          <!--
                            <span class="item-detail-text-meta text-danger mt-0" *ngIf="publicKey.errors && f.submitted">
                              Please Add the public key of the receiver
                            </span>
                          -->
                        </div><!-- end tab-pane -->

                        <div class="tab-pane fade show active" id="onetomany" role="tabpanel" aria-labelledby="onetomany-tab">
                        </div><!-- end tab-pane -->

                  </div><!-- end form-item -->



                  <div class="form-item mb-4">
                      <h5 class="mb-1">Listing Category</h5>
                      <div class="form-choice-wrap">
                          <select class="form-choice" (change)="changeCat($event)">
                              <option selected value="0">Select your Category</option>
                              <option  *ngFor="let cat of categories" [ngValue]="cat">{{cat}}</option>
                          </select>
                      </div>
                  </div>
                  <!-- end form-item -->



                  <div class="form-item mb-4">
                      <div class="mb-3">
                          <label class="mb-2 form-label">Title</label>
                          <input
                            name="title"
                            [(ngModel)]="product.title"
                            required
                            #title="ngModel"
                            type="text" class="form-control form-control-s1" placeholder="3 bedroom house in tangier">

                            <span class="item-detail-text-meta text-danger mt-0" *ngIf="title.errors && f.submitted">
                              Please Add the title of your property
                            </span>
                      </div>
                      <div class="mb-3">
                        <label class="mb-2 form-label">Gov. Title</label>
                        <input
                          name="govTitle"
                          [(ngModel)]="product.govTitle"
                          required
                          #govTitle="ngModel"
                          type="text" class="form-control form-control-s1" placeholder="Governmental title of ownership">

                          <span class="item-detail-text-meta text-danger mt-0" *ngIf="govTitle.errors && f.submitted">
                            Please Add the Gov. title of your property
                          </span>
                      </div>

                      <div class="mb-3">
                        <label class="mb-2 form-label">Description</label><br>
                        <span class="item-detail-text-meta">Please Include All information to get your listing Approved</span>
                          <textarea
                          name="desc"
                          [(ngModel)]="product.desc"
                          required
                          #desc="ngModel"
                          class="form-control form-control-s1 form-textarea-s1" placeholder="coordinates, Surface, Rooms,Number of floors, etc"></textarea>

                          <span class="item-detail-text-meta text-danger mt-0" *ngIf="desc.errors && f.submitted">
                            Please Add a detailed description
                          </span>
                      </div>

                      <div class="mb-3">
                        <label class="mb-2 form-label">Physical Address</label>
                        <input
                          name="physcial_address"
                          [(ngModel)]="product.physcial_address"
                          required
                          #physcial_address="ngModel"
                          type="text" class="form-control form-control-s1" placeholder="Country, City, Address, coordinates">

                        <span class="item-detail-text-meta text-danger mt-0" *ngIf="physcial_address.errors && f.submitted">
                          Please Add the Physical Address
                        </span>
                      </div>
                      <div class="mb-3">
                          <label class="mb-2 form-label">Price in $</label>
                          <input
                          name="priceusd"
                          [(ngModel)]="product.priceusd"
                          required
                          #priceusd="ngModel"
                          type="text" class="form-control form-control-s1" placeholder="$1533452">

                        <span class="item-detail-text-meta text-danger mt-0" *ngIf="priceusd.errors && f.submitted">
                          Please Add the Price
                        </span>
                      </div>
                  </div><!-- end form-item -->
                  <button class="btn btn-primary" type="submit">Create Item</button>
              </form>



          </div><!-- endn col -->
      </div><!-- row-->
  </div><!-- container -->
</section><!-- create-section -->


<script src="assets/js/bundle.js"></script>
<script src="assets/js/scripts.js"></script>
