<header class="header-section has-header-main">
  <app-navbar></app-navbar>
</header>
<section class="create-section section-space-b pt-70">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 mx-auto">
              <div class="section-head-sm">
                  <a routerLink="" class="btn-link fw-semibold"><em class="ni ni-arrow-left"></em> Manage collectible type</a>
                  <h1 class="mt-2">Create single collectible</h1>
              </div><!-- end section-head -->
              <form action="#" class="form-create mb-5 mb-lg-0">
                  <div class="form-item mb-4">
                      <h5 class="mb-3">Upload file</h5>
                      <div class="file-upload-wrap">
                          <p class="file-name mb-4" id="file-name">PNG, GIF, WEBP, MP4 or MP3. Max 100mb.</p>
                          <input id="file-upload" class="file-upload-input" data-target="file-name" type="file" hidden>
                          <label for="file-upload" class="input-label btn btn-primary">Choose File</label>
                      </div>
                  </div><!-- end form-item -->
                  <div class="form-item mb-4">
                      <h5 class="mb-3">Select Method</h5>

                      <ul class="row g-3 nav nav-tabs nav-tabs-s2" id="myTab" role="tablist">
                          <li class="nav-item col-6 " role="presentation">
                              <button class="nav-link active" id="fixed-price-tab" data-bs-toggle="tab" data-bs-target="#fixed-price" type="button" role="tab" aria-controls="fixed-price" aria-selected="true">
                                  <em class="ni ni-tags nav-link-icon"></em>
                                  <span class="nav-link-title mt-1 d-block">One to One</span>
                              </button>
                          </li>
                          <li class="nav-item col-6 " role="presentation">
                              <button class="nav-link" id="timed-auction-tab" data-bs-toggle="tab" data-bs-target="#timed-auction" type="button" role="tab" aria-controls="timed-auction" aria-selected="false">
                                  <em class="ni ni-clock nav-link-icon"></em>
                                  <span class="nav-link-title mt-1 d-block">One to Many</span>
                              </button>
                          </li>
                      </ul>

                      <div class="tab-content my-4" id="myTabContent">
                          <div class="tab-pane fade show active" id="fixed-price" role="tabpanel" aria-labelledby="fixed-price-tab">
                              <div class="form-create-tab-wrap">
                                  <label class="mb-2 form-label">Price</label>
                                  <input type="text" class="form-control form-control-s1" placeholder="Enter a price for item">
                              </div><!-- end form-create-tab-wrap -->
                          </div><!-- end tab-pane -->
                          <div class="tab-pane fade" id="timed-auction" role="tabpanel" aria-labelledby="timed-auction-tab">
                              <div class="form-create-tab-wrap">
                                  <label class="mb-2 form-label">Minimum bid</label>
                                  <input type="text" class="form-control form-control-s1" placeholder="Enter Minimum bid">
                                  <div class="row mt-3">
                                      <div class="col-lg-6">
                                          <label class="mb-2 form-label">Starting date</label>
                                          <input type="date" class="form-control form-control-s1">
                                      </div><!-- end col-lg-6 -->
                                      <div class="col-lg-6">
                                          <label class="mb-2 form-label">Expiration date</label>
                                          <input type="date" class="form-control form-control-s1">
                                      </div><!-- end col-lg-6 -->
                                  </div><!-- end row -->
                              </div><!-- end form-create-tab-wrap -->
                          </div><!-- end tab-pane -->
                          <div class="tab-pane fade" id="open-for-bids" role="tabpanel" aria-labelledby="open-for-bids-tab">
                              <div class="form-create-tab-wrap">
                                  <label class="mb-2 form-label">Minimum bid</label>
                                  <input type="text" class="form-control form-control-s1" placeholder="Enter Minimum bid">
                              </div><!-- end form-create-tab-wrap -->
                          </div><!-- end tab-pane -->
                      </div><!-- end tab-content -->
                  </div><!-- end form-item -->
                  <div class="form-item mb-3">
                      <div class="switch-wrap">
                          <div class="d-flex align-items-center justify-content-between">
                              <div class="me-2">
                                  <h5 class="mb-1">Unlock once purchased</h5>
                                  <p class="form-text">Content will be unlocked after successful transaction</p>
                              </div>
                              <div class="form-check form-switch form-switch-s1">
                                  <input class="form-check-input checkbox-switcher" data-target="switch-content-unlock" type="checkbox">
                              </div><!-- end form-check -->
                          </div><!-- end d-flex -->
                          <div class="switch-content-unlock mt-4" id="switch-content-unlock">
                              <input type="text" name="text" class="form-control form-control-s1" placeholder="Access key, code to redeem or link to a file...">
                          </div>
                      </div><!-- end switch-wrap -->
                  </div><!-- end form-item -->
                  <div class="form-item mb-4">
                      <h5 class="mb-1">Choose collection</h5>
                      <p class="form-text mb-3">This is the collection where your item will appear.</p>
                      <div class="form-choice-wrap">
                          <select class="form-choice">
                              <option selected value="0">Select Collection</option>
                              <option value="1">Abstraction</option>
                              <option value="2">Patternlicious</option>
                              <option value="3">Skecthify</option>
                              <option value="4">Cartoonism</option>
                              <option value="5">Virtuland</option>
                              <option value="6">Papercut</option>
                          </select>
                      </div>
                  </div><!-- end form-item -->
                  <div class="form-item mb-4">
                      <div class="mb-3">
                          <label class="mb-2 form-label">Title</label>
                          <input type="text" class="form-control form-control-s1" placeholder="e. g. Redeemable T-Shirt with logo">
                      </div>
                      <div class="mb-3">
                          <label class="mb-2 form-label">Description</label>
                          <textarea name="message" class="form-control form-control-s1 form-textarea-s1" placeholder="e. g. After purchasing you’ll be able to get the real T-Shirt"></textarea>
                      </div>
                      <div class="mb-3">
                          <label class="mb-2 form-label">Royalties</label>
                          <input type="text" class="form-control form-control-s1" placeholder="e.g 10%">
                          <p class="form-text mt-1">Suggested: 0, 10%, 20%, 30%. Maximum is 70%</p>
                      </div>
                  </div><!-- end form-item -->
                  <button class="btn btn-primary" type="button">Create Item</button>
              </form>
          </div><!-- endn col -->
      </div><!-- row-->
  </div><!-- container -->
</section><!-- create-section -->


<script src="assets/js/bundle.js"></script>
<script src="assets/js/scripts.js"></script>
