
<div class="header-main is-sticky is-transparent">
    <div class="container">
        <div class="header-wrap">


            <!--logo-->
            <div class="header-logo">
                <a routerLink="/home" class="logo-link">
                    <img class="logo-dark logo-img" src="assets/images/logo-black.png" alt="logo">
                    <img class="logo-light logo-img" src="assets/images/logo-white.png" alt="logo">
                </a>
            </div>
            <!-- .header-logo -->

            <!--
              <div class="header-mobile-action">
                  <div class="header-search-mobile dropdown me-2">
                      <a class="icon-btn" href="#" data-bs-toggle="dropdown">
                          <em class="ni ni-search"></em>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end card-generic">
                          <div class="input-group">
                              <input type="search" class="form-control form-control-s1" placeholder="Search item here...">
                              <a href="#" class="btn btn-sm btn-outline-secondary"><em class="ni ni-search"></em></a>
                          </div>
                      </div>
                  </div>

                  <div class="header-toggle">
                      <button class="menu-toggler">
                          <em class="menu-on menu-icon ni ni-menu"></em>
                          <em class="menu-off menu-icon ni ni-cross"></em>
                      </button>
                  </div>
              </div>

            -->

          
              <nav class="header-menu menu nav">
                  <ul class="menu-list ms-lg-auto">

                    <li *ngIf="signedIn">
                      <a routerLink="/dashboard" *ngIf=!isAdmin  class="menu-link">Dashboard</a>
                      <a routerLink="/admin" *ngIf=isAdmin class="menu-link">Dashboard</a>
                    </li>

                    <li >
                        <a routerLink="/explore" class="menu-link">Explore</a>
                    </li>
                    <li >
                      <a routerLink="/aboutus" class="menu-link">About Us</a>
                    </li>
                    <li >
                      <a routerLink="/faq" class="menu-link">FAQ</a>
                    </li>

                  </ul>


                  <ul class="menu-btns">
                    <li *ngIf="!signedIn" ><a routerLink="/register"  class="btn btn-outline-primary" >Sign Up</a></li>
                    <li *ngIf="!signedIn" ><a routerLink="/login" class="btn btn-outline-info" >Log In</a></li>
                    <li><button class="btn btn-primary" (click)="connectWallet()">Connect Wallet</button></li>
                  </ul>

                  <ul *ngIf="signedIn" class="menu-btns menu-btns-2">
                    <li class="d-none d-lg-inline-block dropdown">
                        <button type="button" class="icon-btn icon-btn-s1" data-bs-toggle="dropdown"><em class="ni ni-user"></em></button>
                        <ul class="dropdown-menu card-generic card-generic-s3 dropdown-menu-end mt-2">
                            <li>
                                <h6 class="dropdown-header">Hello {{user.username}}</h6><!---->
                            </li>
                            <li><a class="dropdown-item card-generic-item" routerLink='/dashboard' ><em class="ni ni-dashboard me-2"></em> Dashboard</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item card-generic-item" (click)="logout()"><em class="ni ni-power me-2"></em> Logout</a></li>
                        </ul>
                    </li>
                    <li class="d-lg-none"><button class="btn btn-lg btn-primary">Connect Wallet</button></li>
                </ul>
              </nav><!-- .header-menu -->

              <div class="header-overlay"></div>

          </div><!-- .header-warp-->
      </div><!-- .container-->
  </div><!-- .header-main-->



