
  <div class="hero-wrap hero-wrap-2 section-space">
    <div class="container">
        <div class="row align-items-center flex-md-row-reverse justify-content-between">
            <div class="col-lg-5 col-sm-9 col-md-6">
                <div class="hero-image">
                    <img src="assets/images/home/hero.png" alt="" class="w-100">
                </div>
            </div><!-- end col-lg-5 -->
            <div class="col-lg-6 col-md-6">
                <div class="hero-content pb-0 pt-md-0 pe-lg-4">
                    <h1 class="hero-title mb-4">Create, sell and Buy Decentralized RealEstate</h1>
                    <p class="hero-text mb-4 pb-1">Welcome to the leading Decentralized Housing market place, Purchase & Sell your Properties, directly to your wallet</p>
                    <!-- button group -->
                    <ul class="btns-group hero-btns">
                        <li><a  routerLink="/explore" class="btn btn-lg btn-primary">Explore</a></li>
                        <li><a routerLink="/uploadprop" class="btn btn-lg btn-outline-dark">Create</a></li>
                    </ul>
                </div><!-- hero-content -->
            </div><!-- col-lg-6 -->
        </div><!-- end row -->
    </div><!-- .container-->
</div><!-- end hero-wrap -->
